@use "../../styles/abstracts/index" as *;

.ask {
    width: 100%;
    display: flex;
    justify-content: center;
        input {
        max-width: 800px;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid black;
        width: 90%;
    }
    button {
            width: 20%;
            max-width: 75px;
            margin-left: 2%;
            background-color: $btn;
            padding: 13px;
            color: white;
            border: none;
            border-radius: 10px;
        }
}