
$bp-lg: 1024px;

:root{ 
    --color-bg:#f0f6f6;                //para los backgrounds
    --color-surface:#bbe6e4;           //cards y paneles
    --color-primary:#5603ad;           //call to action
    --color-accent:#42bfdd;            //highlights
    --color-primary-soft:#8367c7;      //secondary 
}

$colors: (
    surface: var(--color-surface),
    primary-soft: var(--color-primary-soft),
    accent: var(--color-accent),
    bg: var(--color-bg),
    primary: var(--color-primary)
);