@use "../abstracts" as *;

.footer {
    padding: 26px 18px 16px;
    background: color-mix(in srgb, c(surface) 70%, white 30%);
    border-top: 1px solid rgba(0,0,0,0.06);

    &__inner {
        max-width: 1100px;
        margin: 0 auto;
        @include flex(row, space-around, center, wrap, 10px);
        gap: 18px;
        align-items: start;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__logo {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        img {
        max-width: 380px;
        min-width: 350px;
        min-height: 120px;
        }
    }

    &__logoText {
        font-weight: 1000;
        font-size: 18px;
        letter-spacing: -0.3px;
        color: color-mix(in srgb, c(primary) 75%, black 25%);
    }

    &__desc {
        margin: 0;
        max-width: 46ch;
        line-height: 1.55;
        font-size: 13px;
        opacity: 0.9;
    }

    &__links {
        min-width: 400px;
        @include flex(row, space-around, center, wrap, 10px);
    }

    &__col {
        @include flex(column, center, flex-start, wrap, 10px);
        h4 {
        margin: 0 0 10px;
        font-size: 13px;
        font-weight: 1000;
        letter-spacing: 0.2px;
        color: color-mix(in srgb, c(primary) 50%, black 50%);
        text-shadow: 0 1px 30px rgba(0,0,0,.9);
        }

        a {
        display: inline-flex;
        padding: 7px 0;
        text-decoration: none;
        font-weight: 800;
        font-size: 13px;
        color: color-mix(in srgb, c(primary) 60%, black 40%);
        opacity: 0.95;
        transition: transform 140ms ease, color 140ms ease;

        &:hover {
            color: c(primary);
            transform: translateX(2px);
        }
        }
    }

    &__bottom {
        max-width: 1100px;
        margin: 18px auto 0;
        padding-top: 14px;
        border-top: 1px solid rgba(0,0,0,0.06);

        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        font-size: 12px;
        font-weight: 800;
        opacity: 0.85;
    }

    &__sep {
        opacity: 0.7;
    }
}
