@use '../abstracts' as *;


.card {
    width: 20%;
    min-width: 250px;
    max-width: 350px;
    min-height: 100px;
    @include flex(column, space-between, center, nowrap);
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.30); 
    box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.30);
    img {
        width: 100%;
        height: 60%;
    }
    span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
    }
    
}