@use '../abstracts/' as *;

.btn-collapse {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 20;
    &--modal {
        right: 65%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    z-index: 10;
    width: 100%;
    max-width: 600px;
    text-align: justify;
    text-wrap: balance;
    @include flex(column, center, center, wrap);
    background-color: c(primary-soft);
    backdrop-filter: blur(10px);

    p{
        cursor: pointer;
        &:hover {
            color: c(accent);
        }

    }
}